<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragment/head :: head">
</head>
<body>
<div th:insert="fragment/menu :: menu"></div>

<nav class="my-2">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active"
                id="nav-CitizenData-tab"
                data-bs-toggle="tab"
                data-id=""
                data-bs-target="#nav-CitizenData"
                type="button" role="tab"
                aria-controls="nav-CitizenData"
                aria-selected="true">
            Данные о гражданине
        </button>
        <button class="nav-link"
                id="nav-OverpaymentData-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-OverpaymentData"
                type="button" role="tab"
                aria-controls="nav-OverpaymentData"
                aria-selected="false">
            Данные о переплате
        </button>
        <button class="nav-link"
                id="nav-NotificationLetters-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-NotificationLetters"
                type="button" role="tab"
                aria-controls="nav-NotificationLetters"
                aria-selected="false">
            Уведомительные письма
        </button>
        <button class="nav-link"
                id="nav-Repayment-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-Repayment"
                type="button" role="tab"
                aria-controls="nav-Repayment"
                aria-selected="false">
            Погашение/удержание
        </button>
        <button class="nav-link"
                id="nav-Punishment-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-Punishment"
                type="button" role="tab"
                aria-controls="nav-Punishment"
                aria-selected="false">
            Взыскание в судебном порядке
        </button>
        <button class="nav-link"
                id="nav-WriteOff-tab"
                data-bs-toggle="tab"
                data-bs-target="#nav-WriteOff"
                type="button" role="tab"
                aria-controls="nav-WriteOff"
                aria-selected="false">
            Списание
        </button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <!--Данные о гражданине-->
    <div class="tab-pane fade show active" id="nav-CitizenData" role="tabpanel" aria-labelledby="nav-CitizenData-tab">
        <div class="row m-0">
            <form method="post"
                  id="formCitizenData">

                <div th:include="fragment/addCitizenForm :: addCitizenForm">
                </div>
                <!--<div class="row">

                    <div class="col-12 row">
                        <div class="col-4">
                            <label for="snils" class="form-label m-0">СНИЛС</label>
                            <input type="text" class="form-control snils" id="snils" name="snils" placeholder="Введите СНИЛС">
                        </div>
                    </div>

                    <div class="col-12 row">
                        <div class="col-6">
                            <label for="surname" class="form-label m-0">Фамилия</label>
                            <input type="text" class="form-control" id="surname" name="surname" placeholder="Введите фамилию">
                        </div>
                    </div>

                    <div class="col-12 row">
                        <div class="col-6">
                            <label for="name" class="form-label m-0">Имя</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Введите имя">
                        </div>
                    </div>

                    <div class="col-12 row">
                        <div class="col-6">
                            <label for="patronymic" class="form-label m-0">Отчество</label>
                            <input type="text" class="form-control" id="patronymic" name="patronymic" placeholder="Введите отчество">
                        </div>
                    </div>

                    <div class="col-12 row">
                        <div class="col-4">
                            <label for="dateOfBirth" class="form-label m-0">Дата рождения</label>
                            <input type="text" class="form-control datepicker m-1" id="dateOfBirth" name="dateOfBirth" placeholder="dd.mm.yyyy">
                        </div>
                    </div>

                    <div class="col-12 row">
                        <div class="col-12">
                            <label for="dateOfBirth" class="form-label m-0">Полный адрес</label>
                            <textarea rows="1" class="form-control" id="fullAdress" placeholder="Введите адрес"></textarea>
                        </div>
                    </div>


                </div>-->
                <button class="btn btn-dark m-2" id="btnUpdatePensioner" type="button">Изменить</button>
            </form>

        </div>
    </div>

    <!--Данные о переплате-->
    <div class="tab-pane fade" id="nav-OverpaymentData" role="tabpanel" aria-labelledby="nav-OverpaymentData-tab">
        <div class="row m-0">
            <div>
                <!--    <h4>Переплаты</h4>-->
                <table id="tableOverpayments" class="table table-block table-secondary table-striped table-hover table-bordered text-center caption-top table-sm">
                    <caption>
                        Переплаты
                    </caption>
                    <thead>
                    <tr>
                        <th>№ п/п</th>
                        <th>Номер документа</th>
                        <th>Дата с</th>
                        <th>Дата по</th>
                        <th>Сумма</th>
                        <th>Дата закрытия</th>
                        <th>Выбрать</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <!--    <h4>Данные ухаживающего лица</h4>-->
            <div>
                <h4>Данные ухаживающего лица</h4>
                <form action="#"
                      id="formFindCarer">
                    <div th:include="fragment/addCitizenForm :: addCitizenForm">
                    </div>
                    <div>
                        <div class="row m-0 my-2">
                            <div class="col-2">
                                <button class="btn btn-dark" id="clearCarer" type="button">Очистить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <h4>Данные переплаты</h4>
            <form class="d-none"
                    method="post"
                  id="formOverpaymentData">
                <div class="row">
                    <div class="col-4">
                        <label class="form-label m-0" for="documentNumber">Номер документа</label>
                        <input class="form-control" type="text" name="documentNumber" id="documentNumber" placeholder="Введите номер документа" disabled>
                    </div>

<!--                    <div class="col-4">
                        <label class="form-label m-0" for="snilsUhod">Снилс ухаживающего лица</label>
                        <input class="form-control snils" type="text" name="snilsUhod" id="snilsUhod" placeholder="Введите снилс">
                    </div>-->

                    <div class="col-12" th:insert="fragment/select :: reasonsForOverpayments">
                    </div>
                    <div class="col-12" th:insert="fragment/select :: specificationOfTheReasonsForOverpayments">
                    </div>

                    <div class="col-6">
                        <label for="paymentType" class="form-label m-0">Вид выплаты</label>
                        <input type="text" class="form-control" id="paymentType" name="paymentType" placeholder="Введите вид выплаты" disabled>
                    </div>

                    <div class="col-12 row">
                        <!--<div class="col-4 align-self-end py-2">Дата выявления переплаты</div>-->
                        <div class="col-3">
                            <label for="dateOfDetectionOfOverpayment" class="form-label m-0">Дата выдачи исполнительного документа</label>
                            <input type="text" class="form-control datepicker" placeholder="dd.mm.yyyy" id="dateOfDetectionOfOverpayment" name="dateOfDetectionOfOverpayment" disabled>
                        </div>
                    </div>

                    <div class="col-12 row">
                        <div class="col-3">
                            <label for="overpaymentPeriodFrom" class="form-label m-0">Период переплаты c</label>
                            <input type="text" class="form-control datepicker" placeholder="dd.mm.yyyy" id="overpaymentPeriodFrom" name="overpaymentPeriodFrom" disabled>
                        </div>
                        <div class="col-3">
                            <label for="overpaymentPeriodFor" class="form-label m-0">Период переплаты по</label>
                            <input type="text" class="form-control datepicker" placeholder="dd.mm.yyyy" id="overpaymentPeriodFor" name="overpaymentPeriodFor" disabled>
                        </div>
                    </div>

                    <div class="col-12 row">
                        <div class="col-3">
                            <label for="overpaymentAmount" class="form-label m-0">Cумма переплаты</label>
                            <input class="form-control" type="number" id="overpaymentAmount" name="overpaymentAmount" min="0" step="1" data-bind="value:replyNumber" disabled>
                        </div>
                    </div>

                    <div class="col-12 row my-1">
                        <div class="col-5 align-self-end py-2">Заявление о добровольном погашении</div>
                        <div class="col-2 align-self-end btn-group btn-group-sm " role="group">
                            <input type="radio" class="btn-check" name="isApplicationForVoluntaryRedemption" id="isApplicationForVoluntaryRedemption1" autocomplete="off" checked>
                            <label class="btn btn-outline-dark" for="isApplicationForVoluntaryRedemption1">Да</label>

                            <input type="radio" class="btn-check" name="isApplicationForVoluntaryRedemption" id="isApplicationForVoluntaryRedemption2" autocomplete="off">
                            <label class="btn btn-outline-dark" for="isApplicationForVoluntaryRedemption2">Нет</label>
                        </div>
                    </div>

                    <div class="col-12 row">
                        <div class="col-3">
                            <label for="dateOfDeathOfPensioner" class="form-label m-0">Дата смерти пенсионера</label>
                            <input type="text" class="form-control datepicker" placeholder="dd.mm.yyyy" id="dateOfDeathOfPensioner" name="dateOfDeathOfPensioner" disabled>
                        </div>
                    </div>

                    <div class="">
                        <table id="tableUder" class="table table-block table-secondary table-striped table-hover table-bordered text-center caption-top table-sm">
                            <caption>
                                Удержания
                            </caption>
                            <thead>
                            <tr>
                                <th>№ п/п</th>
                                <th>Год</th>
                                <th>Месяц</th>
                                <th>Удержание</th>
                                <th>Остаток удержания</th>
                                <th>Процент удержания с твердой суммы</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="">
                        <table id="tableVoz" class="table table-block table-secondary table-striped table-hover table-bordered text-center caption-top table-sm">
                            <caption>
                                Погашение
                            </caption>
                            <thead>
                            <tr>
                                <th>№ п/п</th>
                                <th>Год</th>
                                <th>Месяц</th>
                                <th>Сумма</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-12" th:insert="fragment/select :: structuralSubdivision">
                    </div>

                    <div class="col-12">
                        <label for="comment" class="form-label m-0">Дополнительная информация</label>
                        <textarea class="form-control" rows="1" id="comment" name="comment" placeholder="Введите дополнительную информацию"></textarea>
                    </div>

                    <div class="">
                        <button class="btn btn-dark m-2" id="btnSaveOverpaymentData" type="button">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="tab-pane fade" id="nav-NotificationLetters" role="tabpanel" aria-labelledby="nav-NotificationLetters-tab">NotificationLetters</div>
    <div class="tab-pane fade" id="nav-Repayment" role="tabpanel" aria-labelledby="nav-Repayment-tab">
        <div>
            <table id="tableRepayment"
                   class="table table-block table-secondary table-striped table-hover table-bordered text-center caption-top table-sm">
<!--                <caption>
                    <div class="row m-0 p-0">
                        <div class="col-11"></div>
                        <div class="col-1">
                            <select id="col" name="col" class="form-select">
                                <option th:text="30"
                                        value="30"></option>
                                <option th:text="50"
                                        value="50"></option>
                                <option th:text="100"
                                        value="100"></option>
                            </select>
                        </div>
                    </div>
                </caption>-->
                <thead>
                <tr>
                    <th>№ п/п</th>
                    <th>Дата (месяц/год)</th>
                    <th>Остаток суммы переплаты на начало месяца</th>
                    <th>Погашено</th>
                    <th>Удержано</th>
                    <th>Списано</th>
                    <th>Остаток суммы переплаты на конец месяца</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-Punishment" role="tabpanel" aria-labelledby="nav-Punishment-tab">
        <!--Дата передачи документов в юридическое управление (возможность проставления 2-х и долее дат).
        В случае возврата документов юристами, дата возврата (возможность проставления 2-х и долее дат)-->
        <div class="row m-0">
            <div class="col-2">
            </div>
            <div class="col-8">
                <form method="post"
                      id="formPunishment">
                    <div class="row">

                        <div class="col-12 row">
                            <div class="col-4 align-self-end py-2">Дата решение суда</div>
                            <div class="col-3">
                                <label for="dateOfCourtDecision" class="form-label m-0"></label>
                                <input type="text" class="form-control datepicker" id="dateOfCourtDecision" name="dateOfCourtDecision" placeholder="dd.mm.yyyy">
                            </div>
                        </div>

                        <div class="col-12 row">
                            <div class="col-4 align-self-end py-2">Дата передачи исполнительного документа в УФССП</div>
                            <div class="col-3">
                                <label for="dateUFSSP" class="form-label m-0"></label>
                                <input type="text" class="form-control datepicker" id="dateUFSSP" name="dateUFSSP" placeholder="dd.mm.yyyy">
                            </div>
                        </div>

                        <div class="col-12 row">
                            <div class="col-4 align-self-end py-2">Дата передачи исполнительного документа в управление выплаты пенсий и социальных выплат</div>
                            <div class="col-3">
                                <label for="dateUVPSV" class="form-label m-0"></label>
                                <input type="text" class="form-control datepicker" id="dateUVPSV" name="dateUVPSV" placeholder="dd.mm.yyyy">
                            </div>
                        </div>

                        <div class="col-12 row my-1">
                            <div class="col-5 align-self-end py-2">Контроль исполнения взыскания долга УФССП</div>
                            <div class="col-2 align-self-end btn-group btn-group-sm " role="group">
                                <input type="radio" class="btn-check" name="controlUFSSPYes" id="controlUFSSPYes" autocomplete="off">
                                <label class="btn btn-outline-dark" for="controlUFSSPYes">Да</label>

                                <input type="radio" class="btn-check" name="controlUFSSPNo" id="controlUFSSPNo" autocomplete="off" checked>
                                <label class="btn btn-outline-dark" for="controlUFSSPNo">Нет</label>
                            </div>
                        </div>

                        <div class="col-12 row my-1">
                            <div class="col-5 align-self-end py-2">Контроль факта работы должника</div>
                            <div class="col-2 align-self-end btn-group btn-group-sm " role="group">
                                <input type="radio" class="btn-check" name="theFactThatTheDebtorHasAJobYes" id="theFactThatTheDebtorHasAJobYes" autocomplete="off">
                                <label class="btn btn-outline-dark" for="theFactThatTheDebtorHasAJobYes">Да</label>

                                <input type="radio" class="btn-check" name="theFactThatTheDebtorHasAJobNo" id="theFactThatTheDebtorHasAJobNo" autocomplete="off" checked>
                                <label class="btn btn-outline-dark" for="theFactThatTheDebtorHasAJobNo">Нет</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-WriteOff" role="tabpanel" aria-labelledby="nav-WriteOff-tab">
        <div class="row m-0">
            <div class="col-2">
            </div>
            <div class="col-8">
                <form method="post"
                      id="formWriteOff">
                    <div class="row">

                        <div class="col-12 row">
                            <div class="col-4 align-self-end py-2">Дата протокола списания</div>
                            <div class="col-3">
                                <label for="writeOffProtocolDate" class="form-label m-0"></label>
                                <input type="text" class="form-control datepicker" id="writeOffProtocolDate" name="writeOffProtocolDate" placeholder="dd.mm.yyyy">
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="writeOffOrderNumber" class="form-label m-0">Номер приказа о списании</label>
                            <input type="text" class="form-control" id="writeOffOrderNumber" name="writeOffOrderNumber" placeholder="Введите номер приказа">
                        </div>

                        <div class="col-12 row">
                            <div class="col-4 align-self-end py-2">Дата приказа о списании</div>
                            <div class="col-3">
                                <label for="writeOffOrderDate" class="form-label m-0"></label>
                                <input type="text" class="form-control datepicker" id="writeOffOrderDate" name="writeOffOrderDate" placeholder="dd.mm.yyyy">
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script th:inline="javascript" type="text/javascript" > /*инциализация, прием id*/
    $("#nav-CitizenData-tab").attr("data-id",[[${id}]]);
    $("#nav-CitizenData-tab").attr("data-id-ros",[[${idRos}]]);
    $("#snils").attr('disabled','disabled');
    $(".btnFindCitizenSNILS").addClass('d-none')//скрыть снилс
</script>
<script type="text/javascript" th:src="@{/js/viev/informationOverpayment.js}"></script>

<!--<script type="text/javascript" th:src="@{/js/overpaymentData.js}"></script>-->
<script type="text/javascript" src="/webjars/bootstrap/5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>